.dropdown {
    background-color: #202c33;
    padding: 5px 0px;
    transition: all 800ms;
    z-index: 10;
    font-size: 15px;
    box-shadow: 2px 2px 40px black;

}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100px;
}

.dropdown-btn.active {
    background-color: #374248;
}
