.messages-container {
    background-image: url("/assets/chat-background.jpg");
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 5px;
}

