.chatlist-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
}
.chatlist-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
}


.chatlist-header-icons {
    font-size: 18px;
    color: var(--transparent-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    cursor: pointer;
}


.chat-searcher {
    color: var(--transparent-white);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--dark-blue);
    border-radius: 8px;
    padding: 6px 12px;
}

.chat-searcher span {
    font-size: 15px;
}

@keyframes twinkle {
    0% { color: var(--transparent-white); }
    50% { color: var(--logo-green); }
    100% { color: var(--transparent-white); }
  }
  
  .twinkle {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: twinkle 1s infinite;
  }
  