.chatlist-window {
    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111B1F;
    overflow: scroll;
}

.chatlist-items-container {
    height: 100%;
}




